<div class="form-check form-switch d-flex align-items-center">
    <input class="form-check-input" type="checkbox" role="switch" id="toggleLayers" onchange="toggleLayers()" style="margin-right: 8px;">
    <label class="form-check-label" for="toggleLayers">Cluster View ON/OFF</label>
</div>



<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Cluster</th>
        <th scope="col"># Reports</th>
        <th scope="col">First Timestamp</th>
        <th scope="col">Centroid</th>
        <th scope="col">Summary</th>
      </tr>
    </thead>
    <tbody id="clusterTableBody">
      <!-- Table rows will be dynamically populated here -->
    </tbody>
  </table>