  <script src="{{ config.ASSETS_ROOT }}/js/core/popper.min.js"></script>
  <script src="{{ config.ASSETS_ROOT }}/js/core/bootstrap.min.js"></script>

  <script src="{{ config.ASSETS_ROOT }}/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="{{ config.ASSETS_ROOT }}/js/plugins/smooth-scrollbar.min.js"></script>

  <script src="{{ config.ASSETS_ROOT }}/js/dark-mode-handler.js"></script>

  