.input-location {
    font-size: 15px;
}

.pointer-cursor, .pointer-cursor * {
    cursor: pointer !important;
}


#destination {
    cursor: default;
    border: none ; 
}

body.dark-page #destination {
    background-color: #1f283d !important;
}

body.dark-page #roadName {
    background-color: #1f283d !important;
}


.section-divider {
    border: 0;
    height: 3px;
    margin-top: 1vh ; 
    margin-bottom: 1vh ; 
}

.divider-dark {
    background-image: linear-gradient(to right, transparent 5%, #ffffff 50%, transparent 95%);
}

.divider-light {
    background-image: linear-gradient(to right, transparent 5%, #000000 50%, transparent 95%);
} 


.container {
    padding: 2vw 1.3vh;
    border: 1px solid gray ; 
    border-radius: 5px;

}

body.dark-page .container {
    border: 1px solid var(--bs-heading-color) ; 
}