<div class="container mb-2">
    <div>
        <label for="destination"></label>
        <div class="input-group flex-nowrap mb-3">
            <span class="input-group-text" id="addon-wrapping">Destination</span>
            <input id="destination" type="text" style="color:inherit" class="form-control text-center" style="border: none;" placeholder="Select destination on map" aria-label="destination" aria-describedby="destination-addon" disabled>
        </div>
        <button id="selectLocation" class="btn btn-primary mb-5">Select Location on Map</button>
    </div>
    <div class="mt-1">
        <label for="serviceSelect">Service To Deploy</label>
        <select id="serviceSelect" class="form-select btn" aria-label="Default select example" >
            <option value="fire station">Fire Dept.</option>
            <option value="police station">Garda</option>
            <option value="coast guard">Coast Guard</option>
            <option value="Emergency Medical Services">Medical Emergency</option>
        </select>
    </div>
    <div class="mt-1 d-flex align-items-center">
        <button id="confirmButton" style="display: none;" class="btn btn-warning mr-2">Confirm</button>
        <button id="cancel-deploy-svc" class="btn btn-danger mr-2">Cancel</button>
    </div>
</div>

<hr class="section-divider divider-light">


<div class="container mt-3">
    <h6>Block a Route</h6>
    <div>
      <label for="roadName">Road Name:</label>
      <input type="text" id="roadName" class="form-control" placeholder="Enter road name" />
      <button id="findRoad" class="btn btn-warning mt-2">Find Road</button>
    </div>
    <div class="mt-3 d-flex align-items-center">
      <button id="selectStartPoint" class="btn btn-primary mr-2">Select 2 points to block between</button>
      <button id="selectEndPoint" class="btn btn-primary mr-2" style="display: none;">Select End Point on Map</button>
      <button id="cancel" class="btn btn-danger mr-2">Cancel</button>
      <button id="blockRoute" class="btn btn-danger" style="display: none;">Block Route</button>
    </div>
    <div id="spinner"></div>
  </div>
  
  
