{% extends 'layouts/base-fullscreen.html' %}

{% block content %}
<div id="output-section" class="output-container" style="margin-left: 280px; margin-top: 50px;">
    <div id="fileContent">
        <pre>{{ file_content }}</pre>
    </div>
</div>
{% endblock content %}