{% extends 'layouts/base-fullscreen.html' %}

{% block content %}
<div id="output-section" class="output-container" style="margin-left: 280px; margin-top: 50px;">
    <div id="searchResults">
        {% for result in search_results %}
        <div class="result" style="margin-bottom: 15px; padding: 10px; border: 1px solid #ccc;">
            <h3 style="font-size: 20px;">{{ result.title }}</h3>
            <p style="font-size: 16px;"><strong>Score:</strong> {{ result.score }}</p>
            <p style="font-size: 14px;">{{ result.content }}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
