{% extends 'layouts/base-fullscreen.html' %}

{% block content%}
<div id="webcam-live" class="webcam-feature is-style-wide">
    <style>
        #camera_source-0 {
            position: relative;
            left: 15%;
            top: 10vh;
            width: 50vw;
            height: 75vh;
            object-fit: cover; /* Adjust this as needed */
        }
    </style>
    <img src="https://tiitrafficdata.azurewebsites.net/api/Camera/?name=4207_cam1.jpeg&amp;type=WeatherCameraImages&amp;v=7186357522" id="camera_source-0" class="camera size-default" title="Click for full screen live camera." alt="Clonmacken Link Road">
</div>


{% endblock content%}