
#waypoint {
    border: none ;
}

body.dark-page #waypoint {
    background-color: #1f283d !important;
}

#radius {
    cursor: pointer ; 
    border: none ; 
    background-color: #e9ecef ; 
}

body.dark-page #radius {
    background-color: #1f283d !important;
}

#select-waypoint {
    display: flex ; 
}