<div class="ml-1">
    <button id="show-icons" class="btn btn-outline-primary" onclick="showIcons()">Show Icons</button>
    <button id="show-users" class="btn btn-outline-primary" onclick="showUsers()">Locate Users</button>
</div>

<div class="ml-1 mb-3">
    <input type="checkbox" id="toggle-buses" onclick="toggleBuses()">
    <label for="toggle-buses">Show Buses</label>
</div>

<div>
    <button id="select-destination" class="btn btn-primary btn-sm" onclick="selectDestination()" style="display:none;">Summon Bus</button>
</div>

<div class="ml-1 mb-1 mt-3">
    <button id="select-waypoint" class="btn btn-primary btn-sm" onclick="setWaypoint()">Select Evacuation Point</button>
</div>

<div class="input-group flex-nowrap mb-2 mt-1 ml-1">
    <span class="input-group-text" id="addon-wrapping">Waypoint</span>
    <input id="waypoint" type="text" style="color:inherit" class="form-control text-center" placeholder="Select Evacuation Point on map" aria-label="waypoint" aria-describedby="waypoint-addon" disabled>
</div>


<div class="input-group flex-nowrap mb-3 mt-2 ml-1">
    <span class="input-group-text" id="radius-addon">Radius</span>
    <input id="radius" type="text" class="form-control text-center" style="color: inherit;" placeholder="Users within radius (km)" aria-label="radius" aria-describedby="radius-addon">
</div>

<div>
    <button id="submit-waypoint" style="display: none;" class="btn btn-primary btn-sm" onclick="submitWaypoint()">Submit</button>
</div>


<div id="waypoints-table-container" class="mt-3 ml-1">
    <table id="waypoints-table" class="font-small table table-striped table-bordered table-hover table-sm">


    </table>
</div>


<script>

    var markers = [];
    var showingIcons = false ; 
    function showIcons(keepLast=false) {
        if (keepLast) {
            showingIcons = !showingIcons;
        }
        var button = document.getElementById('show-icons');
        if (!showingIcons) {
            button.innerHTML = 'Hide Icons';
            clearIcons();
            const amenities = ['Emergency Medical Services', 'fire station', 'police station', 'coast guard']; 
            amenities.forEach(amenity => {
                getAmentity(amenity);
            });
        } else {
            button.innerHTML = 'Show Icons';
            clearIcons();
        }
        showingIcons = !showingIcons;
    }
    
    function clearIcons() {
        markers.forEach(function(marker) {
            map.removeLayer(marker);
        });
        markers = [];
    }
    
    


    function placeIcon(icon, name, location) {
        var leafletIcon = L.icon({
            iconUrl: '/static/assets/img/map-icons/' + icon + '.svg',
            iconSize: [32, 32],
            iconAnchor: [16, 32],
            popupAnchor: [0, -32]
        });
    
        var marker = L.marker(formatCoords(location), {icon: leafletIcon});
        marker.bindPopup(name);
        marker.addTo(map);
        markers.push(marker); 
    }
    

    async function getAmentity(amenity) {
        await fetch('/get_amenity', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'  // Add this line
            },
            body: JSON.stringify({
                amenity: amenity
            })
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(result => {
            for (var i = 0; i < result.length; i++) {
                placeIcon(amenity, result[i].name, result[i].location);
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }


    function formatCoords(coords) {
        if (!Array.isArray(coords) || coords.length !== 2) {
            console.error("Invalid coordinates format. Expected an array with two elements.");
            return null;
        }
        const [lng, lat] = coords;
    
        if (typeof lat !== 'number' || typeof lng !== 'number') {
            console.error("Invalid coordinates. Latitude and longitude should be numbers.");
            return null;
        }
        if (lat < -90 || lat > 90 || lng < -180 || lng > 180) {
            console.error("Invalid coordinates. Latitude should be between -90 and 90, and longitude should be between -180 and 180.");
            return null;
        }
    
        return { lat: lat, lng: lng };
    }


    users = [];
    function showUsers() {
        var button = document.getElementById('show-users');
        if (button.innerHTML === 'Locate Users') {
            button.innerHTML = 'Hide Users';
            clearUsers() ; 
            getUsers();
        } else {
            button.innerHTML = 'Locate Users';
            clearUsers() ;
        }
    }

    function clearUsers() {
        users.forEach(function(user) {
            map.removeLayer(user);
        });
        users = [];
    }

    async function getUsers() {
        await fetch('/locate-users', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'  // Add this line
            },

        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(result => {
            for (var i = 0; i < result.length; i++) {
                console.log(result[i].location);
                placeUser(result[i].phone, result[i].location);
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }



    function placeUser(user, location) {
        var leafletIcon = L.icon({
            iconUrl: '/static/assets/img/map-icons/user.svg',
            iconSize: [32, 32],
            iconAnchor: [16, 32],
            popupAnchor: [0, -32]
        });
    
        // if location is an array length 2, use it as coordinates
        if (Array.isArray(location) && location.length === 2) {
            location = { coordinates: location };
        }
        var marker = L.marker(formatCoords(location.coordinates), {icon: leafletIcon});
        // if location.coordinates.timestamp exists, use it as popup content
        if (location.coordinates.timestamp) {
            marker.bindPopup(location.coordinates.timestamp);
        }
        else {
            marker.bindPopup(user);
        }
        marker.addTo(map);
        users.push(marker); 
    }



    let pinnedBuses = [] ; 
    function selectDestination() {
        map.on('click', async function(e) {
            const destination = { lat: e.latlng.lat, lng: e.latlng.lng };
            let minDistance = Infinity;
            let closestBusMarker = null;
            busMarkers.forEach(marker => {
                const distance = map.distance(destination, marker.getLatLng());
                if (distance < minDistance) {
                    closestBusMarker = marker;
                    minDistance = distance;
                }
            });
    
            if (closestBusMarker) {
                pinnedBuses.push(closestBusMarker.getPopup().getContent());
                const endIcon = L.icon({
                    iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-orange.png',  // Using blue marker
                    iconSize: [25, 41],
                    iconAnchor: [12, 41],
                    popupAnchor: [1, -34]
                });
                const endMarker = L.marker([destination.lat, destination.lng], {icon: endIcon}).addTo(map); // Drop a destination marker with new color
                
                const pathResponse = await fetch('/start-end-path', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({start: [closestBusMarker.getLatLng().lat, closestBusMarker.getLatLng().lng], end: [destination.lat, destination.lng]})
                });
    
                if (pathResponse.ok) {
                    const pathCoordinates = await pathResponse.json();
                    simulateBusMovement(closestBusMarker, pathCoordinates, function() {
                        console.log("Bus has arrived at the destination.");
                    }, endMarker);
                } else {
                    console.error('Error fetching path');
                }
            } else {
                console.error('No buses found');
            }
    
            map.off('click');
        });
    }


    
    
    function simulateBusMovement(busMarker, pathCoordinates, callback, endMarker) {
        let index = 0;
        const interval = setInterval(() => {
            if (index < pathCoordinates.path.length) {
                const [lat, lng] = pathCoordinates.path[index++];
                console.log(`Moving bus to: Lat: ${lat}, Lng: ${lng}`);
                busMarker.setLatLng(L.latLng(lat, lng)).update();
            } else {
                console.log('Simulation complete.');
                clearInterval(interval);
                if (callback) callback();
                if (endMarker)
                    map.removeLayer(endMarker); // Remove the orange end marker
            }
        }, 1000 * 20 / pathCoordinates.path.length);
    }


    
    document.addEventListener('DOMContentLoaded', function() {
        const destButton = document.getElementById('select-destination');
        if(document.getElementById('toggle-buses').checked) {
            destButton.style.display = 'block';
        } else {
            destButton.style.display = 'none'; 
        }
        toggleBuses();
    });
    


    let waypointCoordinates = [];
    function setWaypoint() {
        const waypoint = document.getElementById('select-waypoint');
        waypoint.innerHTML = 'Cancel Selection';
        waypoint.onclick = cancelWaypoint;

        map.on('click', function(e) {
            var waypoint = document.getElementById('waypoint');
            waypoint.value = e.latlng.lat + ', ' + e.latlng.lng;
            map.off('click');
            waypointCoordinates = [e.latlng.lat, e.latlng.lng];
            const submitButton = document.getElementById('submit-waypoint');
            submitButton.style.display = 'block';
        });
    }

    function cancelWaypoint() {
        const waypoint = document.getElementById('waypoint');
        waypoint.value = '';
        const waypointButton = document.getElementById('select-waypoint');
        waypointButton.innerHTML = 'Select Evacuation Point';
        waypointButton.onclick = setWaypoint;
        const submitButton = document.getElementById('submit-waypoint');
        submitButton.style.display = 'none';
        map.off('click');
    }

    async function submitWaypoint() {
        const radius = document.getElementById('radius').value;
        const timestamp = new Date();
        if (radius === '' || isNaN(radius)) {
            window.alert('Please enter a radius');
            return;
        }
        await fetch('/send-waypoint', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                coordinates: waypointCoordinates,
                radius: radius,
                timestamp: timestamp
            })
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .catch(error => {
            console.error('Error:', error);
        });

        const waypoint = document.getElementById('waypoint');
        waypoint.value = 'Select Evacuation Point';
        const selectButton = document.getElementById('select-waypoint');
        selectButton.innerHTML = 'Select Evacuation Point';
        const radiusInput = document.getElementById('radius');
        radiusInput.value = '';
        const submitButton = document.getElementById('submit-waypoint');
        submitButton.style.display = 'none';

        clearWaypointMarkers();
        waypointsList = [] ;
        waypointMarkers = [] ;
        waypointCoordinates = [];
        await getWaypoints();
        createWaypointsTable();
        mapMarkersWaypoints() ; 

        try {
            const timeDate = new Date();    
            const time = timeDate.toLocaleTimeString();
            const date = timeDate.toLocaleDateString();
            await fetch('/kafka-prod/alert-users-in-area', {
                method: 'POST', 
                headers: {
                    'Content-Type': 'application/json', 
                },
                //body: JSON.stringify({text: msg, time: time, date: date, mapArea: mapArea}),
                body: JSON.stringify({text: "please evacuate to the nearest evacuation point", time: time, date: date, mapArea: [0,0]}),
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(result => {
                console.log(result);
            })
        } catch (error) {
            console.error('Error:', error);
        }

    }


    let waypointsList = [] ; 
    async function getWaypoints() {
        await fetch('/get-waypoints', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(result => {
            waypointsList = result;
            for (var i of waypointsList) {
                i.waypoint.coordinates = i.waypoint.coordinates.reverse();
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
    

    var circle = null;

    let waypointMarkers = [] ;
    function mapMarkersWaypoints() {
        for (var i of waypointsList) {
            var leafletIcon = L.icon({
                iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-yellow.png',
                iconSize: [25, 41],
                iconAnchor: [12, 41],
                popupAnchor: [1, -34]
            });
            var marker = L.marker(formatCoords(i.waypoint.coordinates), {icon: leafletIcon});
            marker.bindPopup("Waypoint: " + i.waypoint.coordinates + "<br>Radius: " + i.waypoint.radius + " km<br>Timestamp: " + i.waypoint.timestamp);
    
            
            marker.addTo(map);
            marker.on('click', function(e) {
                if (circle) {
                    map.removeLayer(circle);
                    circle = null; 
                } else {
                    circle = L.circle(e.latlng, {
                        color: 'red',
                        fillColor: '#f03',
                        fillOpacity: 0.5,
                        radius: i.waypoint.radius * 1000
                    }).addTo(map);
                }
            });
            for (var j of waypointMarkers) {
                if (j.getLatLng().lat === marker.getLatLng().lat && j.getLatLng().lng === marker.getLatLng().lng) {
                    return;
                }
            }
            waypointMarkers.push(marker);
        }
    }

    function clearWaypointMarkers() {
        for (var i of waypointMarkers) {
            map.removeLayer(i);
        }
    }

    function createWaypointsTable() {
        var table = document.getElementById('waypoints-table');
        // clear table
        table.innerHTML = "";
        var header = table.createTHead();
        var row = header.insertRow(0);
        var cell = row.insertCell(0);
        cell.innerHTML = "<b>Coordinates</b>";
        cell = row.insertCell(1);
        cell.innerHTML = "<b>Radius (km)</b>";
        cell = row.insertCell(2);
        cell.innerHTML = "<b>Timestamp</b>";
        cell = row.insertCell(3);
        cell.innerHTML = "<b>Delete</b>";
        var row = header.insertRow(1);
        var count = 0;
        for (var i of waypointsList) {
            var row = table.insertRow(count + 1);
            var cell = row.insertCell(0);
            cell.innerHTML = i.waypoint.coordinates;
            cell = row.insertCell(1);
            cell.innerHTML = i.waypoint.radius;
            cell = row.insertCell(2);
            cell.innerHTML = i.waypoint.timestamp;
            cell = row.insertCell(3);
            cell.innerHTML = "<button class='btn btn-danger btn-sm' onclick='deleteWaypoint(" + count + ")'>Delete</button>";
            count++;
        }
    }

    function deleteWaypoint(index) {
        // remove table row
        var table = document.getElementById('waypoints-table');
        table.deleteRow(index + 1);
        // remove marker
        // remove circle if it is active
        if (circle) {
            map.removeLayer(circle);
            circle = null; 
        }
        for (var i in map._layers) {
            if (map._layers[i]._latlng) {
                if (map._layers[i]._latlng.lat === waypointsList[index].waypoint.coordinates[1] && map._layers[i]._latlng.lng === waypointsList[index].waypoint.coordinates[0]) {
                    map.removeLayer(map._layers[i]);
                }
            }
        }
        waypointMarkers.splice(index, 1);  
        waypointsList.splice(index, 1);
        fetch('/delete-waypoint', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                index: index
            })
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(result => {
            createWaypointsTable();
        })
        .catch(error => {
            console.error('Error:', error);
        });

    }




    function fetchAndDisplayVehiclePositions() {
        // Fetch bus data from the Flask endpoint
        fetch('/fetch-vehicle-positions')
        .then(response => response.text())
        .then(data => {
            clearBusMarkers();  // Clear existing bus markers before updating
            const lines = data.split('\n');
            for (let line of lines) {
                if (line.trim().length === 0) continue; // skip empty lines
    
                const regex = /Bus ID: (\d+) is at Latitude: ([\d.-]+), Longitude: ([\d.-]+)/;
                const match = line.match(regex);
    
                if (match) {
                    // if bus is in pinned buses, continue
                    if (pinnedBuses.includes(match[1])) {
                        continue;
                    }
                    const busId = match[1];
                    const latitude = parseFloat(match[2]);
                    const longitude = parseFloat(match[3]);
                    placeBusIcon(busId, [latitude, longitude]);
                }
            }
        })
        .catch(error => console.error('Error fetching vehicle positions:', error));
    }


    var busInterval = null; // Global variable to hold the interval ID

    function toggleBuses() {
        const isChecked = document.getElementById('toggle-buses').checked;
        const destButton = document.getElementById('select-destination');
        if (isChecked) {
            destButton.style.display = 'block';  // Display the button when buses are shown
            fetchAndDisplayVehiclePositions();
            busInterval = setInterval(fetchAndDisplayVehiclePositions, 60000);
        } else {
            destButton.style.display = 'none';  // Hide the button when buses are not shown
            clearInterval(busInterval);
            clearBusMarkers();
        }
    }


    function fetchAndDisplayVehiclePositions() {
        const isVisible = document.getElementById('toggle-buses').checked;
        if (!isVisible) return; // Exit function if buses shouldn't be shown
        
        fetch('/fetch-vehicle-positions')
        .then(response => response.text())
        .then(data => {
            clearBusMarkers();  // Clear existing bus markers before updating
            const lines = data.split('\n');
            for (let line of lines) {
                if (line.trim().length === 0) continue; // skip empty lines
    
                const regex = /Bus ID: (\d+) is at Latitude: ([\d.-]+), Longitude: ([\d.-]+)/;
                const match = line.match(regex);
                if (match) {
                    const busId = match[1];
                    const latitude = parseFloat(match[2]);
                    const longitude = parseFloat(match[3]);
                    
                    placeBusIcon(busId, [latitude, longitude]);
                }
            }
        })
        .catch(error => console.error('Error fetching vehicle positions:', error));
    }
    
    let busMarkers = []; // Array to store bus markers for easy removal and management
    function placeBusIcon(busId, coords) {
        const busIcon = L.icon({
            iconUrl: '/static/assets/img/map-icons/bus.png', // Path to bus icon
            iconSize: [32, 32], // Size of the icon
            iconAnchor: [16, 16] // Point of the icon which will correspond to marker's location
        });
    
        const marker = L.marker(coords, {icon: busIcon}).bindPopup(`Bus ID: ${busId}`);
        marker.addTo(map);
        busMarkers.push(marker);
    }
    
    function clearBusMarkers() {
        for (let marker of busMarkers) {
            map.removeLayer(marker);
        }
        busMarkers = [];
    }
    
    // when docuemnt loads, get waypoints
    document.addEventListener('DOMContentLoaded', async function() {
        await getWaypoints();
        createWaypointsTable();
        mapMarkersWaypoints() ; 
    });



</script>