<style>
    #chat-container {
        width:100% ; 
        min-height:100% ; 
        border: none ; 
        display: flex;
        flex-direction: column;
        bottom: 3vh ; 
    }


    body.dark-page #chat-container {
        background-color: #283149 ; 
    }



    .create-alert-box {
        display: block;
        height: 30vh  ; 
        bottom: 1vh ; 
        flex: 1;
        padding: 10px;
        padding-bottom: 0;
        width:80% ; 
        border: 2px solid #d2d6da ; 
        border-radius: 5px ;
        width:100% ; 
        position: relative;
        text-align: center;
    }


    body.dark-page .form-control:disabled, body.dark-page .form-control[readonly]  {
        background-color: #252e45 !important;
        border-color: #fff !important;
        color: #fff !important;
    }



    #message-input {
        flex: 1;
        padding: 10px;
        width:80% ; 
        border: 1px solid black ;
        border-radius: 5px 0 0 5px ;
        bottom: 0 ; 
    }

    body.dark-page #message-input {
        border-color: white !important;
        color: white !important;

    }

    .font-small {
        font-size: 0.75vw;
    }

    .font-medium {
        font-size: 1vw;
    }

    .font-large {
        font-size: 1.25vw;
    }

    .leaflet-draw-toolbar {
        display: none;
    }

    .cancel-map-draw {
        display: none;
        top: 2% ; 
        right: 2%;
        position: absolute;
    }

    .cancel-map-draw-box {
        position: relative;
    }


    .show-area-selected-box {
        position: relative;
    }

    .show-area-selected {
        display: none;
        top: 2% ; 
        left: 2%;
        position: absolute;
    }

    .description-msg-box {
        position: relative;
        bottom: 0;
        text-align: center;
    }

    .alert-sent-box {
        position: relative;
        bottom: 0;
        text-align: center;
    }

    .alert-sent {
        display: none;
        color: green;
    }

    body.dark-page .alert-sent {
        color: green !important;
        display: none ; 
    }

    .message-box {
        display: flex; 
        flex-direction: column; 
        justify-content: flex-end; 
        max-height: 40vh;
        padding: 0; 
    }
    
    #text-box {
        order: 2; 
        margin-top: 0; 
        box-sizing: border-box; 
    }
    
    .message-box-ctrl {
        order: 1; 
        margin-bottom: 1.5%;
    }
    
    .right-aligned-btn {
        float: right; 
        margin-right: 1% ; 
    }

    .all-users-btn {
        float: right; 
        margin-right: 20%;
    }


    #map-draw-button {
        display: inline-block !important;
    }


</style>


<div class="chat-container">
    <div class="message-box">
        <div class="message-box-ctrl mb-0">
            <span></span> 
            <span class="consolas-font font-large mb-0"><b>Alerts Sent</b></span>
            <button id="clear-alerts-btn" class="btn btn-outline-danger btn-sm right-aligned-btn mb-0" onclick="clearAlerts()">Clear</button>
            <button id="prev-alerts-btn" class="btn btn-outline-primary btn-sm right-aligned-btn mb-0" onclick="getPrevAlerts()">Fetch Previous Alerts</button>
        </div>
        <label for="text-box" class="font-small"> </label>
        <textarea class="consolas-font font-small form-control mt-1" id="text-box" rows="10" readonly style="resize: none;" disabled></textarea>
    </div>


    <div class="create-alert-box mb-0 mt-4">
        <h5>Create Alert</h5>
        <div class="cancel-map-draw-box">
            <button class="cancel-map-draw btn btn-outline-danger btn-sm" onclick="cancelAlert()">Cancel</button>
        </div>
        <div class="show-area-selected-box">
            <button id="show-area" class="show-area-selected btn btn-outline-primary btn-sm" onclick="toggleShowAreaSelected()">Show Area</button>
        </div>
        <button id="map-draw-button" class="btn btn-sm btn-outline-primary" onclick="mapDraw()">Select Map Area</button>
        <button class="btn btn-sm btn-outline-primary all-users-btn" onclick="allUsers()">ALL</button>
        <br>
        <span id="user-base" class="consolas-font font-small"><b>area not selected </b><br></span>

        <div class="message-input input-group mb-1 mt-3">
            <input type="text" id="message-input" class="message-input consolas-font" placeholder="Type a message..."/>
            <button class="btn btn-primary disabled" id="broadcast-button" aria-disabled="true" onclick="alertUsersInArea()">Send</button>
        </div>

        <div class="description-msg-box mb-0">
            <span class="consolas-font mb-1"><i>All users in the selected area will recieve this alert</i></span>
        </div>

        <div class="alert-sent-box mb-0">
            <span id="alert-sent" class="consolas-font mb-1 alert-sent">ALERT SENT</span>
        </div>
        

    </div>

</div>



<script>

    let alert = null ; 
    function formatTextForTerminal(data, maxWidth) {
        let formattedText = '';
        let lines = data.split('\n');
    
        for (let line of lines) {
            while (line.length > maxWidth) {
                formattedText += line.substring(0, maxWidth) + '\n';
                line = line.substring(maxWidth);
            }
            formattedText += line + '\n';
        }

        console.log(formattedText);
    
        return formattedText;
    }
    
    function addTextToTerminal(text) {
        text = formatTextForTerminal(text, 100);
        const textBox = document.getElementById('text-box');
        textBox.value += text;
        textBox.scrollTop = textBox.scrollHeight;
    }


    let mapArea = null;
    let drawControl;
    var drawnItems = new L.FeatureGroup();
    function mapDraw() {
        const mapDrawButton = document.getElementById('map-draw-button');
        
        if (!map) {
            console.error('Map is not initialized');
            return;
        }
    
        if (mapDrawButton.innerText === 'Select Map Area') {
            mapDrawButton.innerText = 'Cancel Selection';
    
            drawControl = new L.Control.Draw({
                draw: {
                    polygon: false,
                    marker: false,
                    polyline: false,
                    circle: false,
                    circlemarker: false,
                    rectangle: true
                },
                edit: {
                    featureGroup: drawnItems
                }
            });
    
            map.addControl(drawControl);
    
            // Store reference to the active draw tool and enable it
            map.activeDrawTool = new L.Draw.Rectangle(map, drawControl.options.draw.rectangle);
            map.activeDrawTool.enable();
    
            map.on(L.Draw.Event.CREATED, function (event) {
                var layer = event.layer;
                drawnItems.addLayer(layer);
    
                // Append coordinates to user-base span
                const userBase = document.getElementById("user-base");
                userBase.innerHTML = "<b>area selected  </b><br>" ; 
                /// display show button
                const showAreaSelected = document.getElementsByClassName("show-area-selected");
                showAreaSelected[0].style.display = "block";
                mapArea = layer.toGeoJSON().geometry.coordinates;
                console.log(mapArea);
    
                // Change button text back to 'Select Map Area'
                mapDrawButton.innerText = 'Select Map Area';
    
                // Show cancel button
                const cancelButton = document.getElementsByClassName("cancel-map-draw");
                cancelButton[0].style.display = "block";
                const sendBtn = document.getElementById('broadcast-button');
                sendBtn.disabled = false ;
                sendBtn.classList.remove("disabled");
            });
    
        } else {
            resetDrawing(mapDrawButton, drawnItems);
        }
    }
    
    function resetDrawing(button, drawnItems) {
        button.innerText = 'Select Map Area';
        
        if (map.activeDrawTool) {
            map.activeDrawTool.disable();
            map.activeDrawTool = null;
        }
    
        if (drawControl) {
            map.removeControl(drawControl);
            drawControl = null;
        }
    
        drawnItems.clearLayers(); // This will clear all layers in the FeatureGroup
        map.off(L.Draw.Event.CREATED);
    
        // Hide cancel button
        const cancelButton = document.getElementsByClassName("cancel-map-draw");
        cancelButton[0].style.display = "none";
        
        // Clear the coordinates display
        const userBase = document.getElementById("user-base");
        userBase.innerHTML = "<b>area not selected </b><br>";
    }


    function alertUsersInArea() {    
        if (!mapArea) {
            console.error('No area selected');
            alert('Please select a map area or send to ALL users');
            return;
        }
        const messageInput = document.getElementById("message-input");
        const timeDate = new Date();    
        const time = timeDate.toLocaleTimeString();
        const date = timeDate.toLocaleDateString();
        const msg = messageInput.value;
        fetch('/kafka-prod/alert-users-in-area', {
            method: 'POST', 
            headers: {
                'Content-Type': 'application/json', 
            },
            body: JSON.stringify({text: msg, time: time, date: date, mapArea: mapArea}),
        }).then(response => {
            if (response.ok) {
                clearTerminal(); 
                addTextToTerminal(msg + '\t' + date + ' ' + time + '\n');
                showElementTemporarily('alert-sent');
                cancelAlert();
                messageInput.value = '';
                return response.json();
            } else {
                throw new Error('Error polling users in area');
            }
        }).then(data => {
            console.log(data);
        }).catch(error => console.error('Error:', error));

        const sendBtn = document.getElementById('broadcast-button');
        sendBtn.disabled = true ;
        sendBtn.classList.add("disabled");
    }
    

    function cancelAlert() {
        const cancelButton = document.getElementsByClassName("cancel-map-draw");
        cancelButton[0].style.display = "none";
        resetDrawing(document.getElementById('map-draw-button'), drawnItems);
        const userBase = document.getElementById("user-base");
        userBase.innerHTML = "<b>area not selected </b><br>";
        const showAreaSelected = document.getElementsByClassName("show-area-selected");
        showAreaSelected[0].style.display = "none";
        mapArea = null;
        if (mapAreaLayer) {
            map.removeLayer(mapAreaLayer);
            mapAreaLayer = null;
        }
        const sendBtn = document.getElementById('broadcast-button');
        sendBtn.disabled = true ;
        sendBtn.classList.add("disabled");
    }


    let mapAreaLayer = null;
    let showingArea = false;
    function toggleShowAreaSelected() {
        showingArea = !showingArea;
        console.log('showingArea: ', showingArea) ; 
        if (!showingArea) {
            if (mapAreaLayer) {
                map.removeLayer(mapAreaLayer);
                mapAreaLayer = null;
            }
            const showAreaBtn = document.getElementById('show-area');
            showAreaBtn.innerText = 'Show Area';
        } else {
            const showAreaBtn = document.getElementById('show-area');
            showAreaBtn.innerText = 'Hide Area';
            console.log('mapArea: ', mapArea);
            drawAreaOnMap();
        }
    }

    function showElementTemporarily(elementId) {
        var element = document.getElementById(elementId);
        if (element) {
            element.style.display = 'block';
            setTimeout(function() {
                element.style.display = 'none';
            }, 5000);
        } else {
            console.error('Element with id ' + elementId + ' not found.');
        }
    }


    function getPrevAlerts() {
        fetch('/get-prev-alerts', {
            method: 'GET', 
            headers: {
                'Content-Type': 'application/json', 
            },
        }).then(response => {
            if (response.ok) {
                return response.json();
            } else {
                throw new Error('Error getting previous alerts');
            }
        }).then(data => {
            let alerts = data['alerts'];
            if (alerts.length === 0) {
                const textBox = document.getElementById('text-box');
                textBox.value = 'None' ; 
                return;
            }
            let text = '';
            for (let i = 0; i < alerts.length; i++) {
                text += alerts[i]['text'] + '\t' + alerts[i]['date'] + ' ' + alerts[i]['time'] + '\n';
            }
            console.log(text) ; 
            clearTerminal(); 
            addTextToTerminal(text);
        }).catch(error => console.error('Error:', error));
    }

    function clearTerminal() {
        const textBox = document.getElementById('text-box');
        textBox.value = '';
        return;
    }

    function allUsers() {
        const showAreaBtn = document.getElementById('show-area');
        showAreaBtn.innerText = 'Show Area';
        const userBase = document.getElementById("user-base");
        userBase.innerHTML = "<b>area selected  </b><br>" ; 
        const cancelButton = document.getElementsByClassName("cancel-map-draw");
        cancelButton[0].style.display = "block";
        const showAreaSelected = document.getElementsByClassName("show-area-selected");
        showAreaSelected[0].style.display = "block";
        showingArea = false ; 
        const sendBtn = document.getElementById('broadcast-button');
        sendBtn.disabled = false ;
        sendBtn.classList.remove("disabled");

        mapArea = [
            [
                [-6.405029, 53.192318],
                [-6.405029, 53.471002],
                [-6.036987, 53.471002],
                [-6.036987, 53.192318],
                [-6.405029, 53.192318]
            ]
        ];

        console.log(mapArea);
    }

    
    function drawAreaOnMap() {
        if (mapAreaLayer) {
            map.removeLayer(mapAreaLayer);
        }
    
        let geojsonObject = {
            "type": "Feature",
            "properties": {},
            "geometry": {
                "type": "Polygon",
                "coordinates": mapArea
            }
        };
    
        mapAreaLayer = L.geoJSON(geojsonObject, {
            style: {
                color: 'none',
                weight: 2,
                opacity: 1,
                fillOpacity: 0.17,
                fillColor: 'blue'
            }
        }).addTo(map);
    }


    function clearAlerts() {
        const txtArea = document.getElementById('text-box');
        txtArea.value = '';
    }

    
    
</script>
