<style>

    .create-DM-box {
        display: block;
        height: 30vh  ; 
        bottom: 1vh ; 
        flex: 1;
        padding: 10px;
        padding-bottom: 0;
        width:80% ; 
        border: 2px solid #d2d6da ; 
        border-radius: 5px ;
        width:100% ; 
        position: relative;
    }

    body.dark-page .create-DM-box {
        border-color: white !important;
        color: white !important;
    }


    .custom-control-label {
        display: inline-block;
        text-align: left;
        margin-left: 5px;
        vertical-align: middle;
    }


    body.dark-page .form-control:disabled, body.dark-page .form-control[readonly]  {
        background-color: #252e45 !important;
        border-color: #fff !important;
        color: #fff !important;
    }


    #DM-input {
        flex: 1;
        padding: 10px;
        width:80% ; 
        border: 1px solid black ;
        border-radius: 5px 0 0 5px ;
        bottom: 0 ; 
    }

    body.dark-page #DM-input {
        border-color: white !important;
        color: white !important;

    }

    .font-small {
        font-size: 0.75vw;
    }

    .font-large {
        font-size: 1.25vw;
    }




    .description-msg-box {
        position: relative;
        bottom: 0;
        text-align: center;
    }

    .message-sent-box {
        position: relative;
        bottom: 0;
        text-align: center;
    }

    .message-sent {
        display: none;
        color: green;
    }

    body.dark-page .message-sent {
        color: green !important;
        display: none ; 
    }

    
    .right-aligned-btn {
        float: right; 
        margin-right: 1% ; 
    }

    .recipient-label, .custom-control-label {
        display: block;
        text-align: left;
    }


    .message-bubble {
        max-width: 60%;
        padding: 10px;
        margin: 10px;
        border-radius: 18px;
        color: white;
    }

    .message-sent-bubble {
        background-color: rgb(2, 185, 2);
        margin-left: auto;
        text-align: right;
        border-radius: 8px ;
        max-width: 50% ; 
        padding: 2% ;
        padding-top: 0.5% ; 
        padding-bottom: 0.5% ;
        width:fit-content;
        height: fit-content;
    }


    .custom-control {
        position: relative;
        display: block;
        padding-left: 30px; /* Adjust this value to control label distance */
        margin-bottom: 5px; /* adjust this as needed */
        cursor: pointer;
    }
    
    .custom-control-label {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px; /* Space between the checkbox and the label, adjust if needed */
    }
    

    .custom-control-input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;  
        height: 100%;
        margin: 0;
        opacity: 0;  
        cursor: pointer;
        z-index: 1;  
    }
    
    

    
    .custom-control-label::before {
        position: absolute;
        top: -0.1em;
        left: -1.5em; /* Adjust this to move the custom radio closer to the text */
        display: block;
        width: 20px;
        height: 20px;
        pointer-events: none;
        content: "";
        background-color: #fff;
        border: #adb5bd solid 1px;
        border-radius: 50%; /* Circular border for the radio button */
    }
    
    .custom-control-input:checked ~ .custom-control-label::before {
        background-color: #007bff;
        border-color: #007bff;
    }   
    

    .message-received-bubble {
        background-color: #0048ff; 
        text-align: left;
        border-radius: 8px ;
        padding: 2% ;
        padding-top: 0.5% ; 
        padding-bottom: 0.5% ;
        max-width: 50% ;
        width: fit-content;
        height: fit-content;
        margin-right: auto;
    }

    .alert-received-bubble {
        background-color: red; 
        text-align: right;
        border-radius: 8px ;
        padding: 2% ;
        padding-top: 0.5% ; 
        padding-bottom: 0.5% ;
        max-width: 50% ;
        width: fit-content;
        height: fit-content;
        margin-left: auto;
    }


    .DM-chat-container {
        display: flex;
        width: 100%;
        height: 30vh;
    }
    
    .conversation {
        flex: 70%;
        height: 100%;
        overflow-y: auto;
    }
    
    .recipient-select {
        flex: 30%;
        height: 100%;
        overflow-y: auto;
        border-right: 1px solid #d2d6da;
    }

    #user-list li {
        cursor: pointer;
        background-color: transparent;
        list-style-type: none;
    }
    
    #user-list li:hover {
        background-color: #cadbff;
    }

    body.dark-page #user-list li:hover {
        background-color: #252e45 !important;
    }

    #message-list {
        list-style-type: none;
        color: white;
    }

</style>

    <div class="mb-0 mt-1">
        <span class="consolas-font font-large mb-0"><b>Direct Message</b></span>
    </div>


    <div class="DM-chat-container mb-4 mt-2">
        <div class="recipient-select">
            <input type="text" id="user-search-input" placeholder="Search phone number..." />
            <button id="user-search-btn" class="btn btn-primary btn-sm mt-1 mb-2" onclick="filterAndScrollToUser()">Search</button>
            <ul id="user-list">
                <!-- User list items will be added here dynamically -->
            </ul>
        </div>
        <div class="conversation">
            <ul id="message-list">
                <!-- Messages will be dynamically added here -->
            </ul>
        </div>
    </div>

    


    <div class="create-DM-box mb-0 mt-4">
        <h5>Send Message</h5>
        <div class="cancel-map-draw-box">
            <button class="cancel-map-draw btn btn-outline-danger btn-sm" onclick="cancelDM()">Cancel</button>
        </div>
        
        <div>
            <span id="recipient-label" class="consolas-font mb-1 ml-2 recipient-label">Recipient:</span>
        </div>

        <div class="DM-input input-group mb-1 mt-3">
            <input type="text" id="DM-input" class="DM-input consolas-font" placeholder="Type a message..." oninput="condEnableSend()" />
            <button class="btn btn-primary disabled" id="send-DM-button" aria-disabled="true" onclick="sendDM()">Send</button>
        </div>

        <div class="custom-control custom-radio">
            <input type="radio" id="dm-radio" name="contactRadio" class="custom-control-input">
            <label class="custom-control-label" for="dm-radio">Direct Message via App</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" id="sms-radio" name="contactRadio" class="custom-control-input">
            <label class="custom-control-label" for="sms-radio">SMS</label>
        </div>
              

        <div class="message-sent-box mb-0">
            <span id="message-sent" class="consolas-font mb-1 message-sent">MESSAGE SENT</span>
        </div>
        

    </div>




<script>

    async function fetchMessages(recipient) {
        console.log('Fetching messages...');
        
        let messages = [] ; 
        try {
            // Fetch the first set of messages
            let response = await fetch('/get-SMS', {
                method: 'POST', 
                headers: {
                    'Content-Type': 'application/json', 
                },
                body: JSON.stringify({recipient: recipient}),
            });
            let data = await response.json();
            messages = [...messages, ...data];

    
            response = await fetch('/kafka-consumer/get-messages', {
                method: 'POST', 
                headers: {
                    'Content-Type': 'application/json', 
                },
                body: JSON.stringify({recipient: recipient}),
            });
            data = await response.json();
            messages = [...messages, ...data];
    
        } catch (error) {
            console.error('Error:', error);
            return; 
        }
    
        console.log(messages);
    
        const messageList = document.getElementById('message-list');
        messageList.innerHTML = ''; 
    
        messages.forEach(message => {
            addMessageToConversation(message.value, message.direction);
        });
    }


    
    function addMessageToConversation(text, type) {
        const messageList = document.getElementById('message-list');
        const li = document.createElement('li');
        li.textContent = trimQuotes(text);
        li.classList.add('mt-2'); li.classList.add('mb-2'); li.classList.add('font-small') ; 
        if (type === 'inbound') {
            li.classList.add('message-sent-bubble');
        } 
        else if (type === 'alert') {
            li.classList.add('alert-received-bubble');
        }
        else {
            li.classList.add('message-received-bubble');
        }
    
        messageList.appendChild(li);
    }


    function getSelectedRadio() {
        const radios = document.querySelectorAll('input[name="contactRadio"]:checked');
        if (radios.length === 0) {
            return 0; // No radio selected
        } else {
            return radios[0].id; // Return the ID of the first (and should be the only) checked radio
        }
    }
    
    
    function enableSend() {
        const sendBtn = document.getElementById('send-DM-button');
        sendBtn.disabled = false ;
        sendBtn.classList.remove("disabled");
    }


    function sendSMS() {
        const messageInput = document.getElementById("DM-input");
        const timeDate = new Date();    
        const time = timeDate.toLocaleTimeString();
        const date = timeDate.toLocaleDateString();
        const msg = messageInput.value;
        const recipient = document.getElementById('recipient-label').textContent.split(':')[1].trim();  
        fetch('/send-SMS', {
            method: 'POST', 
            headers: {
                'Content-Type': 'application/json', 
            },
            body: JSON.stringify({msg:msg, recipient: recipient}),
        }).then(response => {
            if (response.ok) {
                addMessageToConversation(msg, 'outbound');
                clearDM(); 
                showElementTemporarily('message-sent');
                messageInput.value = '';
                return response.json();
            } else {
                throw new Error('Error sending SMS');
            }
        }).then(data => {
            console.log(data);
        }).catch(error => console.error('Error:', error));

        const sendBtn = document.getElementById('send-DM-button');
        sendBtn.disabled = true ;
        sendBtn.classList.add("disabled");
    }


    function sendDM() {
        const sel = getSelectedRadio() ; 
        if (sel == 'sms-radio') {
            sendSMS();
            return;
        }
        const messageInput = document.getElementById("DM-input");
        const timeDate = new Date();    
        const time = timeDate.toLocaleTimeString();
        const date = timeDate.toLocaleDateString();
        const msg = messageInput.value;
        // recipient
        if (msg.length == 0) {
            alert('Please enter a message');
            return;
        }
        fetch('/kafka-prod/DM', {
            method: 'POST', 
            headers: {
                'Content-Type': 'application/json', 
            },
            body: JSON.stringify({msg: msg, recipient: selectedRecipient}),
        }).then(response => {
            if (response.ok) {
                addMessageToConversation(msg, 'outbound');
                clearDM();
                showElementTemporarily('message-sent');
                messageInput.value = '';
                return response.json();
            } else {
                throw new Error('Error polling users in area');
            }
        }).then(data => {
            console.log(data);
        }).catch(error => console.error('Error:', error));
        
    }
    

    function cancelDM() {
        return ; 
    }

    function showElementTemporarily(elementId) {
        var element = document.getElementById(elementId);
        if (element) {
            element.style.display = 'block';
            setTimeout(function() {
                element.style.display = 'none';
            }, 5000);
        } else {
            console.error('Element with id ' + elementId + ' not found.');
        }
    }


    function clearDM() {
        const textBox = document.getElementById('DM-input');
        textBox.value = '';
        return;
    }

    function condEnableSend() {
        if (document.getElementById('DM-input').value.length > 0) {
            enableSend();
        }
        return ; 
    }






    document.addEventListener("DOMContentLoaded", function() {
        fetchUsers();
    });
    
    function fetchUsers() {
        fetch('/get-users')
            .then(response => response.json())
            .then(data => {
                populateUserList(data.users);
            })
            .catch(error => console.error('Error:', error));
    }
    
    function populateUserList(users) {
        const userList = document.getElementById('user-list');
        userList.innerHTML = ''; 
        users.forEach(user => {
            const li = document.createElement('li');
            li.textContent = user; 
            li.onclick = () => setSelectedRecipient(user);
            userList.appendChild(li);
        });
    }
    
    function filterAndScrollToUser() {
        const searchInput = document.getElementById('user-search-input').value;
        const userList = document.getElementById('user-list');
        const users = userList.getElementsByTagName('li');
    
        for (let i = 0; i < users.length; i++) {
            if (users[i].textContent.includes(searchInput)) {
                users[i].scrollIntoView();
                break;
            }
        }
    }
    
    var selectedRecipient = null;
    function setSelectedRecipient(phoneNumber) {
        console.log("Selected recipient:", phoneNumber);
        selectedRecipient = phoneNumber;
        const recipientLabel = document.getElementById('recipient-label');
        recipientLabel.textContent = 'Recipient: ' + phoneNumber;
        recipientLabel.style.display = 'block';
        fetchMessages(phoneNumber);
    }
    

    function trimQuotes(str) {
        console.log("called trimQuotes") ; 
        if (str.startsWith('"') && str.endsWith('"')) {
          return str.substring(1, str.length - 1);
        } else if (str.startsWith('"')) {
          return str.substring(1);
        } else if (str.endsWith('"')) {
          return str.substring(0, str.length - 1);
        }
        return str;
      }

    
</script>
