<style>
    #chat-container {
        max-width: 600px;
        margin: 20px auto;
        border: 1px solid #ccc;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

    #message-box {
        height: 400px;
        overflow-y: auto;
        padding: 10px;
        background-color: #f9f9f9;
        display: flex;
        flex-direction: column-reverse;
    }

    .message {
        margin: 5px 0;
        padding: 8px;
        background-color: #e1f5fe;
        border-radius: 4px;
        max-width: 70%;
        word-wrap: break-word;
    }

    .sender {
        font-weight: bold;
    }

    #message-input {
        flex: 1;
        border: none;
        padding: 10px;
        border-top: 1px solid #ddd;
    }

    #send-button {
        width: 90px;
        border: none;
        background-color: #4CAF50;
        color: white;
        padding: 10px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    #send-button:hover {
        background-color: #45a049;
    }
</style>



<div id="chat-container">
    <div id="message-box"></div>
    <input type="text" id="message-input" placeholder="Type a message..."/>
    <button id="send-button">Send</button>
</div>

<script>
    document.getElementById("send-button").addEventListener("click", sendMessage);

    function sendMessage() {
        const message = document.getElementById("message-input").value;
        fetch('/kafka-prod', {
            method: 'POST', 
            headers: {
                'Content-Type': 'application/json', 
            },
            body: JSON.stringify({message: message}),
        }).then(() => {
            document.getElementById("message-input").value = '';
        }).catch(error => console.error('Error:', error));
    }
    

    function pollMessages() {
        fetch('/kafka-client').then(response => response.json()).then(data => {
            const messageBox = document.getElementById("message-box");
            data.messages.forEach(msg => {
                const messageDiv = document.createElement("div");
                messageDiv.classList.add("message");
                messageDiv.textContent = msg; //  todo...format this message
                messageBox.prepend(messageDiv); // Prepend to keep latest messages at the bottom
            });
        }).catch(error => console.error('Error:', error));
    }

    setInterval(pollMessages, 3000); 
</script>
