{% extends 'layouts/base-fullscreen.html' %}

<!-- message box in center of screen -->
{% block stylesheets %}
<style>
    #messageBox {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px 0;
        max-height: 50vh;
        width: 50vw;
        left: 30vw;
        overflow-y: auto;
        position: absolute;
        top: 20vh;
        

    }
    .message {
        border-bottom: 1px solid #eee;
        padding: 5px;
    }
    .message-title {
        font-weight: bold;
    }
</style>
{% endblock stylesheets %}

{% block content %}


    <h1>New SMS</h1>
        <div id="messageBox"></div>

        {% block scripts %}
        <script>
            function fetchMessages() {
                console.log('Fetching messages...')
                fetch('/get-SMS')
                    .then(response => response.json())
                    .then(messages => {
                        const messageBox = document.getElementById('messageBox');
                        messages.forEach(msg => {
                            console.log(msg) ; 
                            const messageDiv = document.createElement('div');
                            messageDiv.classList.add('message');
                            messageDiv.innerHTML = `<div class="message-title">Message:</div>${msg}`;
                            messageBox.prepend(messageDiv);
                        });
                    })
                    .catch(error => console.error('Error:', error));
            }

            fetchMessages() ; 

            // Fetch new messages every 5 seconds
            //setInterval(fetchMessages, 5000);
        </script>
        {% endblock scripts %}


{% endblock content %}

