body {
    margin: 0;
  }

#map {
    height: 100%;
    width: 50%;
    position: absolute;
    left: 0;
}
#actions-panel {
    height: 100%;
    width: 50%;
    max-width: 50%;
    position: absolute;
    right: 0;
    left:50% ;
    overflow:auto;
    text-align: center;
}
#reports-container {
    text-align: left;
}


table td, table th{
  border-collapse: collapse;
  border: 1px solid white ; 
}


body.dark-page table td, body.dark-page table th{
  border-collapse: collapse;
  border: 1px solid var(--bs-heading-color) ; 
}


#reports-table {
  cursor: pointer;
  max-height: 70%;
  overflow-y: scroll;
  width: 100%;
  background-color: var(--bs-heading-color);
  color: white ;
  padding: 10% ; 
  border-radius: 5px 5px 5px 5px;
}


#reports-table td {
  background-color: var(--bs-body-color);
  color: white !important ; 
}


body.dark-page #reports-table {
  background-color: white ; 
  color: var(--bs-heading-color) ;
  border-collapse: collapse;
  padding: 10px;
}


.tabs {
  justify-content: space-between;
  padding: 10px;
  border: 1px solid transparent ; 
  border-bottom: 1px solid transparent;
  width:100% ; 
  display: auto;
}

.tab-button {
  border: 1px solid transparent;
  background-color: transparent;
  color: var(--bs-heading-color);
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 5px 5px 5px 5px;
  outline: none;
}


.tab-button:hover, .tab-button.active {
  background-color: var(--bs-heading-color);
}

.tab-button.active h6 {
  color: white ; 
}

.tab-button:hover h6 {
  color: white ; 
}




body.dark-page .tab-button:hover h6 {
  color:   #283149 !important;
}

body.dark-page .tab-button:hover {
  background-color: white !important;
}

body.dark-page .tab-button.active h6 {
  color:   #283149 !important;
}

body.dark-page .tab-button.active {
  background-color: white ; 
  color:   #283149 !important;
}

.tab-content {
  display: none;
  padding: 0 ; 
  border: 1px solid transparent;
}

.tab-content.active {
  display: block;
}


.btn-svc {
  background-color: black;
}

.btn-svc:hover {
  background-color: gray;
}        


.blocked-routes-table {
  min-width: 100%;
  bottom: 0;
  right:0 ; 
  overflow-y: scroll;
  height: 30vh ; 
}

.blocked-routes-table thead {
  background-color: var(--bs-body-color) !important;
  color: #283149  !important;
}


body.dark-page .blocked-routes-table thead {
  background-color: var(--bs-body-bg) !important;
  color: var(--bs-heading-color) !important;
}

body.dark-page .blocked-routes-table tr, body.dark-page .blocked-routes-table td {
  background-color: var(--bs-body-bg) !important; 
  color: white !important;
}

body.dark-page .blocked-routes-table th {
  border-collapse: collapse;
  border: 1px solid white !important;
  background-color: var(--bs-heading-color) !important;
  color: white !important ; 
}

.consolas-font {
  font-family: 'Consolas', monospace;
  font-size: 90% ;
  color: var(--bs-heading-color) ;
}



.table-message-mode {
  border: none !important;
}

body.dark-page .table-message-mode {
  border: none !important;
}

