{% extends 'layouts/base-fullscreen.html' %}

{% block content %}
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.css" integrity="sha512-Zcn6bjR/8RZbLEpLIeOwNtzREBAJnUKESxces60Mpoj+2okopSAcSUIUOseddDm0cxnGQzxIR7vJgsLZbdLE3w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css" integrity="sha512-gc3xjCmIy673V6MyOAZhIW93xhM9ei1I+gLbmFjUHIjocENRsLX/QUE1htk5q1XV2D/iie/VQ8DXI6Vu8bexvQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.js" integrity="sha512-BwHfrr4c9kmRkLw6iXFdzcdWV/PGkVgiIyIWLLlTSXzWQzxuSg4DiQUCpauz/EWjgk5TYQqX/kvn9pG1NpYfqg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{ config.ASSETS_ROOT }}/js/plugins/leaflet_polyline_snakeIn.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js" integrity="sha512-ozq8xQKq6urvuU6jNgkfqAmT7jKN2XumbrX1JiB3TnF7tI48DPI4Gy1GXKD/V3EExgAs1V+pRO7vwtS1LHg0Gw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spin.js/4.1.1/spin.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.js"></script>


    {% block stylesheets %}
    <style>
      {% include 'actions/actions_tab.css' %}
      {% include 'dashboard/dashboard.css' %}
      {% include 'monitoring/monitoring.css' %}
      {% include 'clustering/clustering.css' %}
    </style>

    {% endblock stylesheets %}  


</head>


<body>

  <div class="container-fluid h-100">
    <div class="row h-100">
      <div id="map" class="col h-100">
        <div id="map"></div>
      </div>
    </div>

    <div class="row h-70">

      <div id="actions-panel" class="col h-100">
  
        <div class="tabs">
            <button id="report-button" class="tab-button active" onclick="openTab(event, 'tab1')"><h6>Reports</h6></button>
            <button class="tab-button" onclick="openTab(event, 'tab2')"><h6 >Actions</h6></button>
            <button class="tab-button" onclick="openTab(event, 'tab3')"><h6 >Messaging</h6></button>
            <button class="tab-button" onclick="openTab(event, 'tab4')"><h6 >Monitor</h6></button>
            <button class="tab-button" onclick="openTab(event, 'tab5')"><h6 >Clustering</h6></button>
        </div>
      
        <div id="tab1" class="tab-content active ml-0">

        </div>
        

        <div id="tab2" class="tab-content">
          {% include 'actions/actions_tab.html' %}
    
        </div>

        
        <div id="tab3" class="tab-content">
          <table class="table-message-mode">
            <thead class="table-message-mode">
              <tr class="table-message-mode">
                <td class="table-message-mode"><button id="broadcast-tab-btn" class="btn btn-outline-primary btn-message-mode active" onclick="messageMode(event, 'broadcast')">Broadcast</button></td>
                <td class="table-message-mode"><button id="direct-message-tab-btn" class="btn btn-outline-primary btn-message-mode" onclick="messageMode(event, 'direct-message')">Direct Message</button></td>
              </tr>
          </table>
          
          
            <div id="broadcast-tab-content" class="tab-content active">
              {% include 'messaging/broadcast.html' %}
            </div>
            <div id="direct-message-tab-content" class="tab-content">
              {% include 'messaging/direct-message.html' %}
            </div>
        </div>
        

        <div id="tab4" class="tab-content">
          <h2>Set Evacuation Point</h2>
            {% include 'monitoring/monitoring.html' %}
        </div>
    
        <div id="tab5" class="tab-content">
          <h2>Clustering</h2>
          {% include 'clustering/clustering.html' %}
        </div>
    
    </div>
  
    </div>    


    <div id="svg-container">
      <label for="theme-switch" class="nav-link me-2" style="width:100%; height:100%;">
        <i class="fa fa-sun cursor-pointer opacity-6" id="theme-indicator"></i>
        <img id="svg-image" src="{{ config.ASSETS_ROOT }}/img/theme/dark-mode.svg" alt="Dark Mode Icon">
      </label>
      <input type="checkbox" class="d-none" id="theme-switch"/>
    </div>

      
    {% endblock  content %}
    {% block javascripts %}
      <!-- <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>  -->


    <script defer>
      {% include 'dashboard/dashboard.js' %}
      {% include 'actions/actions_tab.js' %}
      {% include 'clustering/clustering.js' %}
    </script>


    <script>

      loadReportsAndMarkers(); 
      fetchBlockedRoutes();

      function openTab(evt, tabName) {
        // Get all elements with class="tab-content" and hide them
        var i, tabcontent, tabbuttons;
        tabcontent = document.getElementsByClassName("tab-content");
        for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
          tabcontent[i].classList.remove("active");
        }
      
        // Get all elements with class="tab-button" and remove the class "active"
        tabbuttons = document.getElementsByClassName("tab-button");
        for (i = 0; i < tabbuttons.length; i++) {
          tabbuttons[i].className = tabbuttons[i].className.replace(" active", "");
        }
      
        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(tabName).style.display = "block";
        document.getElementById(tabName).classList.add("active");
        evt.currentTarget.className += " active";
      
        // If 'Reports' tab is clicked, clear report details and load the reports table
        if (tabName === 'tab1') {
          // Clear the current content and load the reports table
          document.getElementById('tab1').innerHTML = '';
          fetch('/get-reports-table')
          .then(response => response.json())
          .then(data => {
              document.getElementById('tab1').innerHTML = data.html;
          })
          .catch(error => console.error('Error fetching actions:', error));
          // Call the function to load the reports and markers again
          loadReportsAndMarkers();
        }

        // Specific behavior for 'Actions' tab
        if (tabName === 'tab2') {
          //fetchActions();
          initializeActionsTab(); 
        }

        if (tabName === 'tab3') {
          //fetchMessages();
          const messageMode = document.getElementsByClassName("btn-message-mode");
          const broadcastContent = document.getElementById("broadcast-tab-content"); 
          const directmessageContent = document.getElementById("direct-message-tab-content");
          for (i = 0; i < messageMode.length; i++) {
            if (messageMode[i].className.includes("active") && messageMode[i].id === "broadcast-tab-btn") {
              directmessageContent.style.display = "none";
              broadcastContent.style.display = "block";
            } else if (messageMode[i].className.includes("active") && messageMode[i].id === "direct-message-tab-btn") {
              broadcastContent.style.display = "none";
              directmessageContent.style.display = "active";
            }
          }

          messageMode(evt, 'broadcast');
          fetchUsers();
        }

        if (tabName === 'tab4') {
          //initializeMonitoringTab();
        }

        if (tabName === 'tab5') {
          if (!groupShowing) {
            initializeClusteringTab();
          }

        }

      }

      function messageMode(evt, tabName) {
        // make this button active
        const broadcastContent = document.getElementById("broadcast-tab-content"); 
        const directmessageContent = document.getElementById("direct-message-tab-content");
        const messageMode = document.getElementsByClassName("btn-message-mode");
        for (i = 0; i < messageMode.length; i++) {
          messageMode[i].className = messageMode[i].className.replace(" active", "");
        }
        evt.currentTarget.className += " active";
        // show the correct content
        if (tabName === 'broadcast') {
          directmessageContent.style.display = "none";
          broadcastContent.style.display = "block";
        } else if (tabName === 'direct-message') {
          broadcastContent.style.display = "none";
          directmessageContent.style.display = "block";
        }
      }
      

      

      function deleteReport(reportId, rowElement) {
        let ret = confirm('Are you sure you want to delete this report?');  //ret is true if user clicks OK
        console.log(ret);
        if (ret == true) {
          fetch('/delete-report', {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json',
              },
              body: JSON.stringify({ 'report_id': reportId }),
          })
          .then(response => {
              if (response.ok) {
                  rowElement.remove();
              } else {
                  alert('Error deleting report');
              }
          })
          .catch(error => {
              console.error('Error:', error);
          });
      }
    }


      document.addEventListener('DOMContentLoaded', function() {
        const reportButton = document.getElementById('report-button');

        if (reportButton) {reportButton.click();}

        setInterval(loadReportsAndMarkers, 20000);  
    });
      

    
    </script>

    </div>
  </div>
</body>
  {% endblock javascripts %}
