{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Sign IN {% endblock title %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}


<main class="main-content mt-0">
  <section style="display: flex; flex-wrap: nowrap; height: 100vh; margin: 0; padding: 0;">
    <div class="col-xl-8 col-lg-7 col-md-6 d-flex flex-column mx-lg-auto mx-md-auto mx-0" style="flex: 2;">
        <div class="container">
          <div class="row">
            <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
              <div class="card card-plain mt-8">
                <div class="card-header pb-0 text-left bg-transparent">
                  <h3 class="font-weight-bolder text-info text-gradient">
                    Dublin Disaster Response Service
                  </h3>
                  <p class="mb-0">
                    {% if msg %}
                      <span class="text-danger">{{ msg | safe }}</span>
                    {% else %}
                      Add your credentials
                    {% endif %}                     
                  </p>
                </div>
                <div class="card-body">

                  <form role="form text-left" method="post" action="/login">
                    
                    {{ form.hidden_tag() }}
                  
                    <label>Email or Phone</label>
                    <div class="mb-3">
                      {{ form.email_or_phone(placeholder="Email or Phone Number", class="form-control") }}
                    </div>
                  
                  
                    <label>Password</label>
                    <div class="mb-3">
                      {{ form.password(placeholder="Password", class="form-control", type="password") }}
                    </div>
                  
                    <div class="text-center">
                      <button type="submit" name="login" class="btn btn-primary w-100 mt-4 mb-0"><span>Sign In</span></button>
                    </div>
                  
                    <div class="text-center">
                      <a href="/register" class="btn btn-warning w-100 mt-4 mb-0">Sign Up</a>
                    </div>
                  
                  </form>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="svg-container" class="svg-container">
        <label for="theme-switch" class="nav-link me-2" style="width:100%; height:100%;">
          <i class="fa fa-sun cursor-pointer opacity-6" id="theme-indicator"></i>
          <img id="svg-image" src="{{ config.ASSETS_ROOT }}/img/theme/dark-mode.svg" alt="Dark Mode Icon">
        </label>
        <input type="checkbox" class="d-none" id="theme-switch"/>
      </div>

    </section>
  </main>


{% endblock content %}
