{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Sign UP {% endblock title %}

{% block stylesheets %}
<!-- Add any page-specific stylesheet links here -->
{% endblock stylesheets %}

{% block content %}
<main class="main-content mt-0">
  <section class="min-vh-100 mb-8">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-5 text-center mx-auto">
          <h1 class="text-white mb-2 mt-5">Dublin Disaster Response</h1>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row mt-lg-n10 mt-md-n11 mt-n10">
        <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
          <div class="card z-index-0">
            <div class="card-header text-center pt-4 mt-8">
              <h5 >Sign UP</h5>
            </div>
            <div class="card-body">
              {% if msg %}
              <div class="mt-2 position-relative text-center">
                <p class="text-sm font-weight-bold mb-2 text-secondary text-border d-inline z-index-2 bg-white px-3">
                  <span class="text-danger">{{ msg | safe }}</span>
                </p>
              </div>
              {% endif %}

              {% if success %}
              <div class="text-center">
                <a href="{{ url_for('login') }}" class="btn btn-primary w-100 my-4 mb-2">Sign IN</a>
              </div>
              {% else %}
              <form role="form text-left" method="post" action="/register">
                {{ form.hidden_tag() }}

                <label>Email</label>
                <div class="mb-3">
                  {{ form.email(placeholder="Email", class="input form-control", type="email") }}
                </div>
                <label>Phone</label>
                <div class="mb-3">
                  {{ form.phone(placeholder="353123456789", class="input form-control", type="phone") }}
                </div>
                <label>Password</label>
                <div class="mb-3">
                  {{ form.password(placeholder="Password", class="form-control", type="password") }}
                </div>

                <div class="text-center">
                  <button type="submit" name="register" class="btn btn-warning w-100 my-4 mb-2">Sign UP</button>
                </div>

                <div class="text-center">
                  <a href="{{ url_for('login') }}" class="btn btn-primary w-100 mt-4 mb-0">Sign IN</a>
                </div>
              </form>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock content %}

{% block javascripts %}
<!-- Add any page-specific javascript here -->
{% endblock javascripts %}
