<h4 class="text-center display-6">Reports</h4>
<table id="reports-table" class="consolas-font reports-table ml-0 mt-4 mb-4">
    <thead>
        <tr>
            <th>Description</th>
            <th>Location</th>
            <th>Timestamp</th>
            <th>User Phone</th>
        </tr>
    </thead>
    <tbody>
        <!-- Reports will be loaded here -->
    </tbody>
</table>


<table id="blocked-routes-table" class="blocked-routes-table mt-10">
    <thead>
        <tr>
        <th colspan="4"><span class="consolas-font" style="color:inherit;"><u>Blocked Routes</u></span></th>
        </tr>
        <tr>
            <th>Road(s)</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <!-- <td><span>Route 1</span></td>
        <td><button id="delete-blocked-route"  class="btn btn-danger" >DELETE</button></td> -->
        </tr>
    </tbody>
</table>
