<div >
    <table class="table consolas-font">
      <tbody>
        <tr >
          <td colspan="2"><strong><span>Reported By</span></strong></td>
          <td ><span>{{ report.phone }}</span></td>
        </tr>
        <tr >
            <td colspan="2"><strong><span>Location</span></strong></td>
            <td ><span>{{ report.location.lat }}, {{ report.location.lng }}</span></td>
        </tr>
        <tr>
          <th colspan="3" class="text-center"><strong><span>Nearest Emergency Services</span></strong></th>
        </tr>
        <tr >
            <td ><a href="#" class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Hospital</a></td>
            <td ><span>{{ amenities['hospital'].name }}</span></td>
            <td ><span>distance: {{ amenities['hospital'].distance }}</span></td>
        </tr>
        <tr >
            <td ><a href="#" class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Fire Station</a></td>
            <td ><span>{{ amenities['fire station'].name }}</span></td>
            <td ><span>distance: {{ amenities['fire station'].distance }}</span></td>
        </tr>
        <tr >
            <td ><a href="#" class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Police Station</a></td>
            <td ><span>{{ amenities['police station'].name }}</span></td>
            <td ><span>distance: {{ amenities['police station'].distance }}</span></td>
        </tr>
        <tr >
            <td ><a href="#" class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Coast Guard</a></td>
            <td ><span>{{ amenities['coast guard'].name }}</span></td>
            <td ><span>distance: {{ amenities['coast guard'].distance }}</span></td>
        </tr>
        <tr >
        </tr>
      </tbody>
    </table>
    <table class="table">
      <tbody>
       <tr>
          <th colspan="3" class="text-center"><strong><span>Description</span></strong></th>
        </tr>
        <tr >
            <td>
              <span class="consolas-font ">{{ report.description }}</span>
            </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- add image if it exists? -->
  <!-- add voice if it exists? -->